body{
	background-image: url("images/bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	/* 小屏幕（平板，大于等于 768px） */
	@media (min-width: @screen-sm-min) {
		height:2000px;
	}

	/* 中等屏幕（桌面显示器，大于等于 992px） */
	@media (min-width: @screen-md-min) {
		height:3369px;
	}

	/* 大屏幕（大桌面显示器，大于等于 1200px） */
	@media (min-width: 1400px) {
		height:4500px;
	}
}