body{
	background: url(../images/bg.jpg) repeat;	
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: smaller;
	overflow-x: hidden;
}
.logo{
	float: left;
	margin-top:0em;
	display: block;
}
.logo img{
	height: 100px;
	width:100px;
}
.v{
	width: 90px;
	height: 90px;
	border-radius:50px;
	background-color: #18232F;
	margin: 0 auto;
	margin-top: 1em;
}
.v img{
	width: 90px;
	height: 80px;
}
.top-header{
	background-color: #18232F;
	width: 100%;
	height: 80px;
	margin-top: 3em;
}
.top-nav ul li a{
	color: #72787C;
	padding: 0.23em 1em;
	font-size: 1.2em;
	text-align: center;
	position: relative;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}
.top-nav ul li.active a,
.top-nav ul li a:hover{
	color:#fff;
}
.logo a{
	display:block;
}
/* top-nav */
.top-nav:before,
.top-nav:after {
    content: " ";
    display: table;
}
.top-nav:after {
    clear: both;
}
nav {
	position: relative;
	float: right;
	margin-top: -100px;
	z-index: 6;
}
nav ul {
	padding: 0;
	float: right;
	margin: 1.2em 0;
}
nav li {
	display: inline;
	float: left;
	position:relative;
	margin-left: 12px;
}
nav a {
	color: #fff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
nav a:hover{
	text-decoration:none;
	color:#00A2C1;
}
nav a#pull {
	display: none;
}
.poster-main{ 
	position:relative;
	width:800px;
	height:270px;
	margin: 0 auto;
	margin-top: 4em;
}
.poster-main a,.poster-main img{display:block;}
.poster-main .poster-list{
	width:800px;
	height:270px;
}
.poster-main .poster-list .poster-item{ 
	position:absolute;
	left:0;
	top:0;
}
.poster-main .poster-btn{ 
	position:absolute;
	top:5em;
	width:50px;
	height:50px;
	z-index:10; 
	cursor:pointer;  
	opacity:0.5
}
.poster-main .poster-prev-btn{
	left:-8em; 
	background: url(../images/left.png) no-repeat center center;
}
.poster-main .poster-next-btn{
	right:-8em; 
	background: url(../images/right.png) no-repeat center center;}
.imgbg{
	z-index: 5;
}
.imgbg img{
	width: 850px;
	height: 240px;
	margin-top: -170px;
	margin-left: -150px;
	display: block;
}
.layer1,.layer2,.layer3{
	position: absolute;
	top: 50px;
	right: 110px;
	width: 20px;
	writing-mode: tb-rl;
	filter: flipH() flipV() alpha(opacity=10);
	color: #F5F5F6;
	display: block;
}
.layer2{
	right: 70px;
	top: 90px;
}
.layer3{
	right: 95px;
}
.imagelayer{display: none;}
.shadow{
	transform:rotateX(180deg);
	-ms-transform:rotateX(180deg); 	/* IE 9 */
	-moz-transform:rotateX(180deg); 	/* Firefox */
	-webkit-transform:rotateX(180deg); /* Safari å’Œ Chrome */
	-o-transform:rotateX(180deg); 	/* Opera */
	/*background: -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,1));
	background: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,1));
	background: -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,1));*/
	opacity:0.2;
	filter:alpha(opacity='20'); 
	z-index: 0;
	height: 100%;
	width: 100%;
	-webkit-filter:saturate(0.5);
}
.box1,.box2,.title{
	border: 1px solid #B3B6B9;
	color: #B3B6B9;
}
.box1,.box2{
	height: 350px;
	width: 250px;
}
.inline{
	margin-left:150px;
	margin-top: 12%;
	display: block;
}
.title{
	text-align: center;
	font-size: 110%;
}
.box1 ul{
	margin-left: 0; 
	margin-top: 20px;
}
.box1 ul li{font-size: smaller;}
.box2{border: none;}
.boximage{
	margin-left: 3px;
	margin-top: 20px;
}
.praise,.reply{
	float:left;
	display:block;
	border: 1px solid #B3B6B9;
	width: 24%;
	height:6%;
	border-radius:10px;
	margin-top:20px;
}
.reply{margin-left: 10px;}
.praise img,.reply img{
	margin-left: 5px;
	float: left;
}
p{font-size: smaller;}
.attribute{
	border: 1px solid #B3B6B9;
	float: right;
	margin-top: 20px;
}
span{font-size: 50%;}
.praise{
	text-decoration: none;
	cursor: pointer;
}
.praise img:hover{opacity: 0.5;}
.control{
	height: 1650px;
	overflow: hidden;
	width: 1400px;
	margin: 0 auto;
}
#loader{ 
	opacity:0; 
	margin: 10px 50%;
}
#btnTest{ 
	cursor:pointer; 
	border:1px solid #B3B6B9; 
	margin:0 auto; 
	background:#1C2835; 
	height:40px; 
	line-height:34px; 
	display:block; 
	width:300px;
	text-align: center;
	font-size: 150%;
	color: #B3B6B9;
}
.foot{
	background: url(../images/foot.png);
	height: 700px;
	width: 100%;
	position: relative;
	margin-bottom: 0px;	
	color: #B3B6B9;
}
.name{
	font-size: 150%;
	margin-top: 500px;
	position: absolute;
	margin-left: 15%;
}
.name h3{margin-top: -5px;}
.position{
	margin-top: 500px;
	position: absolute;
	margin-left: 40%;
}
.position img{margin-left: -22px;}
.contact{
	margin-top: 500px;
	position: absolute;
	margin-left: 55%;
}
.contact img{margin-left: -30px;}
.all{
	margin-top: 500px;
	position: absolute;
	margin-left: 80%;
}
#btn {
	width:40px; 
	height:40px;
	position:fixed; 
	right:25px; 
	bottom:10px; 
	display:none; 
	background:url(../images/top-up.png) no-repeat left top;
}
#btn:hover {background:url(../images/top-up.png) no-repeat;}
@media screen and (max-width: 1300px){
	.inline{margin-left:100px;margin-top: 12%;display: block;}
	.control{height: 1600px;overflow: hidden;width: 1100px;margin: 0 auto;}
}
@media screen and (min-width: 1600px){
	.control{height: 1800px;overflow: hidden;width: 1400px;margin: 0 auto;}
}
@media screen and (min-width: 2000px){
	.control{height: 2000px;overflow: hidden;width: 1400px;margin: 0 auto;}
}
/*Styles for screen 600px and lower*/
@media screen and (max-width: 768px) {
	nav { 
  		height: auto;
  		float:none;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 100%;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #888;
		margin: 0px -13px;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
  	}
}
/*Styles for screen 515px and lower*/
@media only screen and (max-width : 768px) {
	nav {
		border-bottom: 0;
		float:none;
	}
	nav ul {
		display: none;
		height: auto;
		margin:1.3em 0;
		background: #eee;
	}
	nav a#pull {
		display: block;
		position: relative;
		color: #F26D7D;
		text-align: right;
		position: absolute;
		top: 18px;
	}
	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
	nav a#pull img{
		margin-right:2%;
	}
	.top-nav ul li a {
		color: #2C3E50;
		padding: 0em 0;
	}
	.control{height: 4750px;overflow: hidden;width: 1400px;margin: 0 auto;}
	.poster-main .poster-prev-btn{left:2em; top:2em;background: url(../images/left.png) no-repeat center center;}
	.poster-main .poster-next-btn{right:2em; top:2em;background: url(../images/right.png) no-repeat center center;}
	.foot{background: url(none);height: 700px;width: 100%;position: relative;margin-bottom: 0px;	}
	.name{font-size: 150%;margin-top: 500px;position: absolute;margin-left: 5%;}
	.name h3{margin-top: -5px;}
	.position{margin-top: 500px;position: absolute;margin-left: 35%;}
	.contact{margin-top: 500px;position: absolute;margin-left: 65%;}
	.all{margin-top: 600px;position: absolute;margin-left: 80%;}
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav {
		float:none;
	}
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #888;
	}
	.poster-main{ position:relative;width:800px;height:270px;margin: 0 auto;margin-top: 4em;overflow: hidden;}

}


